<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{job.id}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            table {
                width: 100%;
                border-width: thin;
              }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {%load static%}
        <table border="1" align="center" cellspacing="0" cellpadding="2">
        <tr style="border:0">
            <td><img src="{{owner.logo.path}}" width="246" height="62" border="0"></td>
            
            <td colspan="2" align="center"><span style="font-size:24px;text-align:center;font-weight:bold;">NICE PRIVATE LIMITED</span></td>
            <td><img src="{{job.barcode.path}}" width="300" height="65"></td>

            {% comment %} <td><img src="{{asc.logo.path}}" width=300 height=50></td> {% endcomment %}

        </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="2">
        <tr>
            <td colspan="2" align="center"><h5> Invoice Number: {{job.id}}</h5></td>
        </tr>
        
        <tr><td  colspan="2" align="center"><b>ASC DETAILS</b></td></tr>
        <tr><td><b>Authorized Service Center</b></td><td>{{asc.authorized_service_center_name}}</td></tr>
        <tr><td><b>Contact Number</b></td><td>{{asc.contact_num}}</td></tr>
        <tr><td><b>Service Center Address</b></td><td>{{asc.Address}}</td></tr>
        </table>
        
        <table border="1" cellspacing="0" cellpadding="2" style="border-width: thin;">
        <tr><td  colspan="2" align="center"><b>JOB DETAILS</b></td></tr>
            <tr><td><b>Job Title</b></td><td>{{job.jobTitle}}</td></tr>
            <tr><td><b>Summary</b></td><td>{{job.jobDescription}}</td></tr>
            <tr><td><b>Created</b></td><td>{{job.CreatedTime}}</td></tr>
            <tr><td><b>Expected Delivery Date</b></td><td>{{job.EstimatedCompletionDate}}</td></tr>

            <tr><td  colspan="2" align="center"><b>CUSTOMER DETAILS</b></td></tr>
              
                    <tr><td><b>Name</b></td><td>{{job.customerName}}</td></tr>
                    <tr><td><b>Address</b></td><td>{{job.customerAddress}}</td></tr>
                    <tr><td><b>Mobile No.</b></td><td>{{job.customerMobileNumber}}</td></tr>
            
            <tr><td  colspan="2" align="center"><b>HANDSET INFORMATION</b></td></tr>
              
                    <tr><td><b>Model Name</b></td><td>{{job.model_name}}</td></tr>
                    <tr><td><b>IMEI1</b></td><td>{{job.imei_num1}}</td></tr>
                    <tr><td><b>IMEI2</b></td><td>{{job.imei_num2}}</td></tr>
                    {% comment %} <tr><td><b>POP Date</b></td><td>{{job.pop_date}}</td></tr> {% endcomment %}
                    <tr><td><b>Purchased From</b></td><td>{{job.purchased_from}}</td></tr>
                    <tr><td><b>Warranty Status</b></td><td>{{job.warranty_status}}</td></tr>
                    <tr><td><b>Condition of Set</b></td><td>{{job.condition_of_set}}</td></tr>
                    <tr><td><b>Accessories Submitted</b></td><td>{{job.accessories_sbumitted}}</td></tr>
                    <tr><td><b>Estimated Cost</b></td><td>{{job.EstimatedCost}}</td></tr>

                    <tr></tr>
                    <tr><td  colspan="2"><b>Terms &amp; Conditions</b>
                    
        <ol>
            <li>The customers must receive the job sheet when the product is given for non-warranty repair & the contents of the Job sheet must be verified by the customer.</li>

<li>The customer must produce the original job sheet at the time of taking the delivery. We reserve the right to refuse delivery upon non-production of the original job sheet.</li>

<li> We shall not be obliged to undertake repair of products found liquid damaged, physical damage or already attempted for repair by any other repairer.</li>

<li>The estimate given at the time of acceptance of the product for repairs are provisional and may vary after detailed inspection. We will proceed further only after taking approval from the customer.</li>

<li>In the event of handset received with condition where in physical damage, liquid damage or repair already attempted by other repairer, we will not be liable for any damage even under testing before repair or after repair.</li>

<li>We shall make all efforts to ensure that the product is repaired within 7 (Seven) days from the date of receipt of faulty product. At times however, due to availability/shortage of critical spare parts or complicated the repair turnaround time may take longer than the indicated time for delivery in the job sheet. We will not be responsible for any loss/losses whatsoever in the event of the delay in the repair for such aforementioned reasons.</li>

<li>In the event the delivery is taken by the customer from us within 30 days from the date of written intimation by us, we reserve the right to auction the product to recover the repair and auction charges from the customer.</li>

<li>The above terms &amp; conditions supersedes and terminates all prior representation; discussions, undertaking, and end user agreements, communications or advertising relating to the products and services, written or oral until and unless otherwise agreed in writing by us.</li>

<li>We are not liable for any memory, setting and data loss during the repair.</li>

<li>Spare once replaced with new, old spare will not be given back to customers. By accepting the job sheet, it is deemed that the customer agrees to all the terms and conditions mentioned in the agreement in the job sheet.</li>
        </ol>
        </table>
        <table border="1" cellspacing="0" cellpadding="20" >
            <tr rowspan="2"><td align="center"  valign="bottom"><b>Customer Signature with Full Name</b></td><td align="center"  valign="bottom"><b>ASC Signature with Stamp</b></td><td align="center"  valign="bottom"><b>Customer Signature (@Delivery) </b></td></tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="10" >
            <tr rowspan="2"><td align="left"  valign="bottom"><b>Date: ________________________</b></td><td align="right"  valign="bottom"><b>Place:________________________</b></td></tr>
        </table>
       
            
        
        
        
        
        <!--{{sp.logo}}
        {{sp.logo.url}}-->
       
    </body>
</html>