{% extends 'base.html' %}
{% block Title %}View Job{% endblock Title %}
{% block body %}
<tr><a class="btn btn-primary" href="{%url 'update_job' job.id%}">Edit</a></tr>
<hr>
    <table class="table">
    <tr><td><b>Job Id: </b>{{job.id}}</td></tr>
    <tr><td><b>Job Reference Number: </b>{{job.id}}</td></tr>
    <tr><td><b>Job Description: </b>{{job.jobDescription}}</td></tr>
    <tr><td><b>Job Status: </b>{{job.jobStatus}}</td></tr>
    <tr><td><b>Customer Name: </b>{{job.customerName}}</td></tr>
    <tr><td><b>Customer Mobile Number: </b>{{job.customerMobileNumber}}</td></tr>
    <tr><td><b>Estimated Completion Date: </b>{{job.EstimatedCompletionDate}}</td></tr>
    </table>

{% endblock body %}

